[variables]
DATABASE_URL = "postgresql://postgres:PhwfwyzG4F9JDwG7dfHZQc7U2r7i8vSX8GaoFTgM2gQbTb2lrQQyRaXznpyxX0Pu@213.142.151.108:5432/postgres"
NIXPACKS_NODE_VERSION = "20"

[phases.setup]
aptPkgs = ["curl", "wget", "openssl", "ca-certificates", "procps"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate", "npx prisma db push --skip-generate", "npm run build"]

[start]
cmd = "npm run start"
