[variables]
DATABASE_URL = "postgresql://postgres:PhwfwyzG4F9JDwG7dfHZQc7U2r7i8vSX8GaoFTgM2gQbTb2lrQQyRaXznpyxX0Pu@postgres:5432/postgres"
PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING = "1"

[phases.setup]
aptPkgs = ["curl", "wget", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]
