[variables]
DATABASE_URL = "postgresql://postgres:PhwfwyzG4F9JDwG7dfHZQc7U2r7i8vSX8GaoFTgM2gQbTb2lrQQyRaXznpyxX0Pu@213.142.151.108:5432/postgres"
PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING = "1"
PRISMA_CLI_QUERY_ENGINE_TYPE = "library"
PRISMA_CLIENT_ENGINE_TYPE = "library"
PRISMA_SKIP_POSTINSTALL_GENERATE = "1"
NIXPACKS_NODE_VERSION = "20"

[phases.setup]
aptPkgs = ["curl", "wget", "openssl", "ca-certificates", "procps"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]
